/* formatting mountains for login page, about page, and footers */
.login-mountain{
    position: relative;
    bottom: 80px;
    width: 100%
  }

.about-mountain, .footer-mountain{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
.copy{
  position: fixed;
    width: 100%;
    left: 15px;
    bottom: 0px;
    color: white;
}

/* clouds for login page */
  .cloud-one{
    width: 25%;
    position: relative;
    left: 0px;
    bottom: 300px;
    animation-name: drift-one;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-timing-function: linear;
  }

  .cloud-two{
    width: 25%;
    position: relative;
    z-index: -2;
    left: 0px;
    bottom: 340px;
    animation-name: drift-two;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .cloud-three{
    width: 25%;
    position: relative;
    z-index: -1;
    left: 0px;
    bottom: 325px;
    animation-name: drift-three;
    animation-iteration-count: infinite;
    animation-duration: 150s;
    animation-timing-function: linear;
  }
  .cloud-four{
    width: 25%;
    position: relative;
    display: inline;
    z-index: -1;
    left: 0px;
    bottom: 325px;
    animation-name: drift-four;
    animation-iteration-count: infinite;
    animation-duration: 85s;
    animation-timing-function: linear;
  }
  .cloud-six{
    width: 25%;
    position: relative;
    display: inline;
    z-index: 1;
    left: 0px;
    bottom: 600px;
    animation-name: drift-six;
    animation-iteration-count: infinite;
    animation-duration: 55s;
    animation-timing-function: linear;
  }

  @keyframes drift-one{
    from{left: -700px;}
    to{left: 1500px;}
  }
  @keyframes drift-two{
    from{left: -750px;}
    to{left: 1500px;}
  }
  @keyframes drift-three{
    from{left: -1400px;}
    to{left: 900px;}
  }
  @keyframes drift-four{
    from{left: -1800px;}
    to{left: 900px;}
  }
  @keyframes drift-six{
    from{left: -1100px;}
    to{left: 1500px;}
  }





/* clouds for about page */
  .about-cloud-one{
    width: 25%;
    position: relative;
    left: -450px;
    z-index: -2;
    animation-iteration-count: infinite;
    animation-name: about-one;
    animation-duration: 90s;
    animation-timing-function: linear;
  }
  .about-cloud-two{
    width: 25%;
    position: relative;
    z-index: -2;
    bottom: 100px;
    left: -200px;
    animation-iteration-count: infinite;
    animation-name: about-two;
    animation-duration: 90s;
    animation-timing-function: linear;
  }
  .about-cloud-three{
    width: 25%;
    position: relative;
    z-index: -1;
    bottom: 45px;
    left: -1200px;
    animation-iteration-count: infinite;
    animation-name: about-three;
    animation-duration: 75s;
    animation-timing-function: linear;
  }
  .about-cloud-four{
    width: 25%;
    position: relative;
    display: inline;
    bottom: 50px;
    z-index: 1;
    left: -1800px;
    animation-iteration-count: infinite;
    animation-name: about-four;
    animation-duration: 60s;
    animation-timing-function: linear;
  }
  .about-cloud-six{
    width: 25%;
    position: relative;
    display: inline;
    z-index: 1;
    left: -600px;
    bottom: 300px;
    animation-iteration-count: infinite;
    animation-name: about-six;
    animation-duration: 60s;
    animation-timing-function: linear;
  }

  .button-hover-in-bar{
    position: relative;
    z-index: 1;
  }



  @keyframes about-one{
    from{left: -450px;}
    to{left: 1700px;}
  }
  @keyframes about-two{
    from{left: -2000px;}
    to{left: 1500px;}
  }
  @keyframes about-three{
    from{left: -1200px;}
    to{left: 1800px;}
  }
  @keyframes about-four{
    from{left: -1800px;}
    to{left: 1200px;}
  }
  @keyframes about-six{
    from{left: -600px;}
    to{left: 1800px;}
  }
