
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #142B42;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #142B42;
  color: white;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #3b77b3;
  text-decoration: none;
}
.btn:active{
  background-color: white;
  color:#032649;
  border-color: #142B42;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  transition: .2s;
}
.btn:focus {
  outline: 0;

}

.delete {
  display: inline-block;
  padding: 5px 10px;
  border-color: rgb(216, 10, 10);
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: rgb(216, 10, 10);
  color: white;
  font-size: .9 rem;
  outline: 0;
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(226, 73, 73);
  text-decoration: none;
}
.delete:active{
  background-color: white;
  color:rgb(216, 10, 10);
  border-color: rgb(216, 10, 10);
  border-width: 1px 1px 3px;
  border-radius: 4px;
  transition: .2s;
}
.delete:focus{
  outline: 0;
}

.btn:focus {
  outline: 0;

}

.submit {
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-color: #2F6A24;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #2F6A24;
  color: white;
  font-size: .9 rem;
  outline: 0;
  cursor: pointer;
}

.submit:hover {
  background-color: #5b9451;
  text-decoration: none;
}
.submit:active{
  background-color: white;
  color:#2F6A24;
  border-color: #2F6A24;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  transition: .2s;
}
.submit:focus{
  outline: 0;
}



/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #032649;
  color: #032649;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  text-align: center;
  position: relative;
  bottom: 275px;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

table tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
  border-collapse: collapse;
  text-align: center;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}


table{
  border-collapse: collapse;
  margin: auto;
  width: 80%;
  margin: auto;
}

.koan-table td{
  padding: 4px;
}

thead{
  background-color: #142B42;
  color: white;
}

.koan-table th {
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.koan-form{
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 10px;
}

textarea{
  resize: none;
  height: 100px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

textarea:focus {
  outline: 0;

}
textarea::placeholder{
  font-family: 'Montserrat', sans-serif;
}


.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
}



.display-box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
}

.del-col{
  width: 40px;
}
.header{
  text-align: center;
}

.head-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  padding-top: 0;
}
.button-container{
  display: flex;
  width: 300px;
  justify-content: space-around;
  padding-bottom: 15px;
}

.bumper{
  height: 200px;
  width: auto;
}
